@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');

:root {    
    --corPrincipal: #efe2ba;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--corPrincipal);
}

table {    
    width: 100%; 
  } 

img {
    width: 50%; 
  }   

h1.produto1 {
    color: #FFDD33;    
}

h1.produto2 {
    color: #8A33FF;    
}

h1.produto3 {
    color: #FF4C33;    
}